---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
   name: longhorn-sn
   namespace: kube-system
spec:
  config: '{
      "cniVersion": "0.3.1",
      "type": "ipvlan",
      "master": "{{ storage_nic }}",
      "mode": "l2",
      "ipam": {
        "type": "whereabouts",
        "range": "172.31.0.0/16"
      }
    }'
